<h3>Categories</h3>
<label for="developers">Developer</label>
<select name="developers" id="developers">
  <option value="">Select Developer:</option>
  <% for( let i = 0; i < devArr.length; i++ ) { %>
  <option value="/devPage/<%= devArr[i].id %>"><%= devArr[i].dev %></option>
  <% } %>
</select>
<label for="genres">Genres</label>
<select name="genres" id="genres">
  <option value="">Select Genre:</option>
  <% for( let i = 0; i < genreArr.length; i++ ) { %>
  <option value="/genrePage/<%= genreArr[i].id %>">
    <%= genreArr[i].genre %>
  </option>
  <% } %>
</select>
