<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/homePageLink') %>
    <%-include('partials/selectCategories', {devArr,genreArr}) %>
    <%-include('partials/gamesTable', {gameArr,devHeader,genreHeader}) %>
  </body>
</html>
